<div class= "border-bottom row"  style="margin-top: 4px;padding-bottom: 8px;"> 
    
    <div class="col-9">
        <h4 style="color:cornflowerblue; margin-bottom: 4px;">{{job['title']}}</h4>
    

<div>
    <b>Location:</b>{{job['location']}}
</div>

    {% if 'salary' in job%}

    <div> <b>Salary:</b> {{job['salary']}}</div>

    {% endif %}
</div>
    <!--Building columns to add button in side part of the-->
<div class="col-3"><a href="mailto: mohan@email.com?subject=Application%20to%20{{job['title']}}%20job&body=name%3A%20%3CPut%20your%20name%20here%3E%0D%0Aresume%3A%20%3Cresume%2Fcv%20link%3E%0D%0AlinkedIn%3A%3CAccount%20link%3E" type="button" class="btn btn-outline-primary">Apply</a></div>
</div>